{% extends 'base.html' %}
{% block title %}
    Политика cookies
{% endblock %}
{% block content %}
    <div style="text-align: center;font-size: 25px;color: green;font-weight: bold;margin-bottom: 50px">
        ПОЛИТИКА COOKIES<br>
<br>
Файлы cookie — это небольшие пакеты данных, которые создаются во время работы с сайтом и хранятся внутри Вашего браузера. Файлы cookie обеспечивают работу некоторых разделов сайта, а также помогают улучшить пользовательский опыт. Ниже мы подробнее остановимся на каждом типе собираемых файлов.
<br>
Куки сессий
Эти файлы делают процесс авторизации удобнее. Они позволяют автоматически возвращаться на нужную страницу сайта после совершения авторизации, а также запоминают сессию и избавляют от необходимости повторной авторизации при каждом новом посещении сайта.
<br>
Системные куки
Эти файлы обеспечивают работу отдельных страниц сайта, которые не смогут функционировать должным образом при отключении cookie. Отключая cookie, Вы соглашаетесь с тем, что отдельные элементы сайта могут перестать полноценно работать.
<br>
Куки аналитики
Эти файлы помогают анализировать пользовательские действия и улучшать работу сайта на основании собранных данных.
<br>
Маркетинговые куки
Эти файлы используются для анализа рекламных кампаний, помогают персонализировать наши рекламные сообщения и сделать их более релевантными.
<br>
Как отключить cookie?
Вы можете отключить все или некоторые cookie-файлы в настройках Вашего браузера. Помните, что это может привести к недоступности определенного функционала сайта.
    </div>
{% endblock %}