{% extends 'base.html' %}
{% block title %}
    Регистрация
{% endblock %}
{% load static %}
{% block css %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div style="text-align: center;font-size: 25px;color: green;font-weight: bold;margin-bottom: 50px">
        <form method="post">
            {% csrf_token %}
            <p>Регистрация</p>
            <input type="text" placeholder="Логин" name="username"><br>
            <input type="password" placeholder="Пароль" name="password1"><br>
            <input type="password" placeholder="Повторите пароль" name="password2"><br>
            <input type="submit">
        </form>
    </div>
{% endblock %}